<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
	<appSettings>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
</appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MInventoryServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="MInventoryServiceSoap1" />
        <binding name="SInventoryServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="SInventoryServiceSoap1" />
        <binding name="SellerServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="SellerServiceSoap1" />
        <binding name="SOrderServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="SOrderServiceSoap1" />
        <binding name="DInventoryServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="DInventoryServiceSoap1" />
        <binding name="DOrderServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="DOrderServiceSoap1" />
        <binding name="UOrderServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="UOrderServiceSoap1" />
        <binding name="ManufacturerServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ManufacturerServiceSoap1" />
        <binding name="BlanketServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="BlanketServiceSoap1" />
        <binding name="UserServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="UserServiceSoap1" />
        <binding name="DistributorServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="DistributorServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44308/Services/MInventoryService.asmx"
        binding="basicHttpBinding" bindingConfiguration="MInventoryServiceSoap"
        contract="MInventoryServiceReference.MInventoryServiceSoap"
        name="MInventoryServiceSoap" />
      <endpoint address="https://localhost:44308/Services/SInventoryService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SInventoryServiceSoap"
        contract="SInventoryServiceReference.SInventoryServiceSoap"
        name="SInventoryServiceSoap" />
      <endpoint address="https://localhost:44308/Services/SellerService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SellerServiceSoap"
        contract="SellerServiceReference.SellerServiceSoap" name="SellerServiceSoap" />
      <endpoint address="https://localhost:44308/Services/SOrderService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SOrderServiceSoap"
        contract="SOrderServiceReference.SOrderServiceSoap" name="SOrderServiceSoap" />
      <endpoint address="https://localhost:44308/Services/DInventoryService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DInventoryServiceSoap"
        contract="DInventoryServiceReference.DInventoryServiceSoap"
        name="DInventoryServiceSoap" />
      <endpoint address="https://localhost:44308/Services/DOrderService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DOrderServiceSoap"
        contract="DOrderServiceReference.DOrderServiceSoap" name="DOrderServiceSoap" />
      <endpoint address="https://localhost:44308/Services/UOrderService.asmx"
        binding="basicHttpBinding" bindingConfiguration="UOrderServiceSoap"
        contract="UOrderServiceReference.UOrderServiceSoap" name="UOrderServiceSoap" />
      <endpoint address="https://localhost:44308/Services/ManufacturerService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ManufacturerServiceSoap"
        contract="ManufacturerServiceReference.ManufacturerServiceSoap"
        name="ManufacturerServiceSoap" />
      <endpoint address="https://localhost:44308/Services/BlanketService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BlanketServiceSoap"
        contract="BlanketServiceReference.BlanketServiceSoap" name="BlanketServiceSoap" />
      <endpoint address="https://localhost:44308/Services/UserService.asmx"
        binding="basicHttpBinding" bindingConfiguration="UserServiceSoap"
        contract="UserServiceReference.UserServiceSoap" name="UserServiceSoap" />
      <endpoint address="https://localhost:44308/Services/DistributorService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DistributorServiceSoap"
        contract="DistributorServiceReference.DistributorServiceSoap"
        name="DistributorServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>